//- Core Styles
.focal {
    //- Inheritance
    @extend .hero-unit;

    //- Colors
    $bgcolor: $blue;
    $bgcolordark: darken($bgcolor, 12.5%);
    $fgcolor: #fff;

    //- Links
    a:hover {
        color: #fff;
    }

    //- Positioning
    position: relative;
    margin: -20px -20px 60px -20px;

    //- Text
    color: $fgcolor;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .5);

    //- Background
    background-color: $bgcolor;
    @include background-image(linear-gradient($bgcolordark,
                                              $bgcolor,
                                              $bgcolordark));

    //- Borders
    @include border-radius(0);
    border-top: 3px dashed #333;
    border-bottom: 3px dashed #333;

    //- Header
    clear: both;

    //- Authentication Link
    .zocial {
        font-size: 14px;
    }

    //- Focal Image
    .duck {
        //- Position
        float: right;
        position: absolute;
        right: 100px;
        bottom: -50px;

        //- Sizing
        width: 250px;
        max-width: 250px;
        max-height: 250px;
    }
}

//- Phone Styles
@include device(phone) {
    .focal {
        margin-bottom: 10px;
        padding: 60px 20px 10px 20px;
        text-align: center;

        p {
            line-height: 1em;
            font-size: 14px;
            margin-top: 10px;
        }

        h1 {
            margin-top: 30px;
            margin-bottom: 5px;
            font-size: 30px
        }

        .flavor {
            p {
                display: inline;
                margin-right: 1em;
            }
        }

        .zocial {
            font-size: 12px;
        }

        .duck {
            width: 125px;
            max-width: 125px;
            max-height: 125px;
            top: -35px;
            left: 50%;
            margin-left: -62.5px;
        }
    }
}

//- Portrait Tablet Styles
@include device(tablet) {
    .focal {
        h1 {
            font-size: 45px
        }

        p {
            line-height: 1em;
            font-size: 14px;
            margin-top: 10px;
        }

        .duck {
            width: 187.5px;
            max-width: 187.5px;
            max-height: 187.5px;
        }
    }
}