@import "bootstrap";
@import "compass";
@import "navbar";
@import "focal";

html, body {
    height: 100%;
    background-color: #404040;
    color: #ccc;
}

a {
    color: lighten(#0093AF, 5%);

    &:hover {
        color: #0093AF;
        text-decoration: none;
    }
}

$footer_height: 40px;

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto (-$footer_height);
}

.push {
    height: $footer_height;
}

#footer {
    background-color: #666;
    height: $footer_height;

    p.credit {
        color: #ccc;
        padding-top: 10px;
        text-align: center;
    }
}

#page {
    padding-top: 20px;
}

#body {
    @extend .row-fluid;

    clear: both;

    #sidebar:empty {
        display: none;
    }

    #sidebar:not(:empty) {
        @extend .span3;
    }

    #sidebar:not(:empty) + #content {
        @extend .span9;
    }

    #sidebar:empty + #content {
        @extend .span11;
    }

    #sidebar, #content {
        @extend [class*="span"];
    }

    #content {
        font-size: 18px;

        h2 {
            font-size: 36px;
            text-shadow: 2px 2px 2px rgba(255, 255, 255, .25);
        }
    }
}

.box {
    @extend .well;
    @extend .clearfix;

    color: #999;
    padding: 10px;
    border: 2px dashed #666;
    @include box-shadow(3px 3px 3px 0 #000);
    @include border-radius(10px);

    background-color: rgba(0, 0, 0, .4);

    h2 {
        font-size: 16px;
        color: #999;
        margin: 0 0 1em 0;
        padding: 0;
        border-bottom: 1px solid #666;
        text-align: center;
    }

    .zocial {
        display: block;
        margin: 0 auto;

        &:hover {
            color: white;
            text-decoration: none;
        }
    }
}

.small-box {
    @extend .box;

    width: 50%;
    margin: 0 auto;
}

// Phone Styles
@include device(phone) {
    #body {
        #content {
            h2 {
                font-size: 24px;
                text-shadow: 1px 1px 1px rgba(255, 255, 255, .25);
            }
        }
    }
}