extends base

block focal
  img.duck(src="/img/duck.png")
  h1 Duckly
  p.
    Suck it.

block sidebar
  .box
    h2 Login
    a(href="#{login_url}").zocial.googleplus.
      Sign in with Google+

block content
  h2 Sign In
  p.
    Or don't. Whatever.