extends base

block focal
  img.duck(src="/img/duck.png")
  h1 #{request.user.display_name}
  .flavor
    p Suck it.

block content
  h2 Woo
  p
    | You logged in. Good for you. Now,
    a(href="#{request.route_url('logout')}") Logout
    | .
