extends base

block focal
  img.duck.placeholder(src="/images/questionmark.png")
  h1 #{request.user.display_name}
  .flavor
    p #{request.user.username}

block content
  h2 Woo
  p You logged in. Good for you. Yay!