extends authenticated

block focal
  img.duck(src="/images/duck.png")
  h1 Almost There
  .flavor
    p Oh yeah. You know just how I like it.

block content
  h2 Complete Registration
  form(action="", method="post")
      label(for="username") Username
      input(type="text", id="username")
      label(for="display_name") Display Name
      input(type="text", id="display_name")
    .form-actions
      input(type="submit", class="btn btn-primary", value="Quack!")
